:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --white: #fff;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --ultrawhite: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--ultrawhite);
}

.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-style: normal;
  color: var(--iris);
}

.studio {
  color: var(--navyblue);
  font-family: 'Raleway';
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.address {
  color: var(--slate);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.navigation {
  color: var(--slate);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.header {
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  border-bottom: 1px var(--cornflower);
  background: var(--white);
}

.section_one {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--navyblue);
}

.introduction_hero {
  color: var(--white);
  text-align: center;
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  width: 496px;
}

.button_hero {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button_hero_text {
  color: var(--white);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.section_two {
  width: 1440px;
  height: 2592px;
  background: var(--white);
}

.section_three {
  background: var(--white);
  line-height: 1.11;
}

.section_two_name {
  color: var(--navyblue);
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  width: 264px;
}

.section_two_paragraph {
  color: var(--slate);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
}

.section_three_name {
  color: var(--navyblue);
  text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section_four {
  background: var(--cloud);
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
  background-color: var(--cloud);
}

.section_four_name {
  color: var(--navyblue);
  text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team_name_card {
  color: var(--navyblue);
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.team_description_card {
  color: var(--slate);
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.footer {
  background: var(--navyblue);
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}

.footer_text {
  color: var(--cloud);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
}

.studio_footer {
  color: var(--cloud);
  font-family: 'Raleway';
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.section_portfolio {
  width: 1440px;
  height: 2076px;
  background: var(--white);
}

.btn_portfolio {
  display: flex;
  padding: 12px 24px;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn_portfolio_text {
  color: var(--white);
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5px; /* 150% */
  letter-spacing: 0.64px;
}

.button_portfolio {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px var(--cornflower);
  background: var(--cloud);
  cursor: pointer;
}

.button_portfolio_text {
  color: var(--iris);
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.portfolio_title {
  color: var(--navyblue);
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.portfolio_text {
  color: var(--slate);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
